<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/css/index.css" />
  </head>
  <body>
    <h1>Welcome Community</h1>
    <a href="login.html" id="login">로그인</a>
    <a href="register.html" id="register">회원가입</a>
    <a href="profile.html" class="disabled" id="myInfo">내 정보</a>
    <a href="#" class="disabled" id="logout">로그아웃</a>
    <script>
      function checkLoggedIn() {
        const accessToken = JSON.parse(localStorage.getItem("accessToken"));
        if (accessToken) {
          const login = document.getElementById("login");
          const register = document.getElementById("register");
          const myInfo = document.getElementById("myInfo");
          const logout = document.getElementById("logout");
          const elems = [login, register, myInfo, logout];

          elems.forEach((elem) => {
            elem.classList.toggle("disabled");
          });
        }
      }

      function logout() {
        const logout = document.getElementById("logout");
        logout.addEventListener("click", () => {
          localStorage.removeItem("accessToken");
          location.href = "/";
        });
      }

      checkLoggedIn();
      logout();
    </script>
  </body>
</html>
