<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/css/index.css" />
  </head>
  <body>
    <h1>Welcome Community</h1>
    <a href="login.html">로그인</a>
    <a href="register.html">회원가입</a>
    <a href="profile.html" id="profileLink">내 정보</a>
    <a href="#" id="logoutLink">로그아웃</a>
    <script>
      const logoutLink = document.getElementById("logoutLink");
      const accessToken = JSON.parse(localStorage.getItem("accessToken"));

      logoutLink.addEventListener("click", () => {
        localStorage.removeItem("accessToken");
        location.href = "/";
      });

      function enableProfileLink() {
        const accessToken = JSON.parse(localStorage.getItem("accessToken"));
        const profileLink = document.getElementById("profileLink");
        if (accessToken) {
          profileLink.classList.remove("disabled");
        } else {
          profileLink.classList.add("disabled");
        }
      }

      function enableLogoutLink() {
        if (accessToken) {
          logoutLink.classList.remove("disabled");
        } else {
          logoutLink.classList.add("disabled");
        }
      }

      enableProfileLink();
      enableLogoutLink();
    </script>
  </body>
</html>
