<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <h1>User Info Page</h1>
    <form class="info" method="post">
      <div class="userId-wrapper">
        <label for="userId">아이디</label>
        <input type="text" id="userId" disabled />
      </div>
      <div class="name-wrapper">
        <label for="name">이름</label>
        <input type="text" id="name" readonly />
      </div>
      <div class="email-wrapper">
        <label for="email">이메일</label>
        <input type="text" id="email" readonly />
      </div>
      <div class="button-wrapper">
        <button id="modify">수정</button>
        <button id="save" class="disabled">저장</button>
        <button id="delete">회원탈퇴</button>
      </div>
    </form>
    <script>
      async function loadInfo() {
        const accessToken = localStorage.getItem("accessToken");
        console.log(accessToken);

        /** 로그인 여부 검증 */
        if (accessToken === "") {
          alert("로그인이 필요한 기능입니다.");
          location.href = "/login.html";
          return;
        }

        const data = {
          method: "POST",
          body: JSON.stringify(accessToken),
          headers: {
            "Content-type": "application/json",
          },
        };

        const response = await fetch("/user/info", data);
        console.log("유저정보 로딩중..");
        if (response.status === 200) {
          const { userId, name, email } = await response.json();
          const [userIdElem, nameElem, emailElem] = [
            document.getElementById("userId"),
            document.getElementById("name"),
            document.getElementById("email"),
          ];

          userIdElem.value = userId;
          nameElem.value = name;
          emailElem.value = email;
        } else {
          const { errMsg } = await response.json();
          console.log(errMsg);
        }
      }

      function modifyButton() {
        const modifyBtn = document.getElementById("modify");
        const saveBtn = document.getElementById("save");
        const deleteBtn = document.getElementById("delete");
        const email = document.getElementById("email");
        const name = document.getElementById("name");
        modifyBtn.addEventListener("click", (event) => {
          event.preventDefault();

          /** input readonly 속성 제거 */
          [name, email].forEach((input) => {
            input.readOnly = false;
          });

          /** 수정, 회원탈퇴 -> 저장 으로 버튼변경 */
          [modifyBtn, saveBtn, deleteBtn].forEach((button) => {
            button.classList.toggle("disabled");
          });
        });
      }

      function saveInfo() {
        const email = document.getElementById("email");
        const name = document.getElementById("name");
        const form = document.querySelector(".info");

        form.addEventListener("submit", async (event) => {
          event.preventDefault();
          const userData = {
            method: "PUT",
            body: JSON.stringify({
              accessToken: localStorage.getItem("accessToken"),
              name: name.value,
              email: email.value,
            }),
            headers: {
              "Content-type": "application/json",
            },
          };

          const response = await fetch("/user/info", userData);
          console.log(response);
          if (response.status === 200) {
            alert("회원정보 수정이 완료되었습니다.");
            location.reload();
          } else {
            alert("Failure");
          }
        });
      }

      function deleteUser() {
        const delBtn = document.getElementById("delete");
        delBtn.addEventListener("click", async (event) => {
          event.preventDefault();
          const userData = {
            method: "DELETE",
            body: JSON.stringify({
              accessToken: localStorage.getItem("accessToken"),
            }),
            headers: {
              "Content-type": "application/json",
            },
          };

          const response = await fetch("/user", userData);
          if (response.status === 200) {
            alert("회원탈퇴가 완료되었습니다.");
            localStorage.removeItem("accessToken");
            location.href = "/";
          } else {
            alert("error");
          }
        });
      }

      loadInfo();
      modifyButton();
      saveInfo();
      deleteUser();
    </script>
  </body>
</html>
