<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include('includes/navigation.ejs') %>
    <main>
      <h1>Page Not Found</h1>
      <h3>Error Code : 404</h3>
    </main>
  </body>
</html>
